// Create custom property with safe default URL for an icon
@mixin create($setting) {
    @property --si-#{$setting} {
        syntax: "<url>";
        inherits: true;
        initial-value: url(https://raw.githubusercontent.com/vitaluska123/SettingsIcons/refs/heads/main/svg/#{$setting}.svg);
    }
}
